@charset "UTF-8";
html {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  background-color: #0A0511;
}
@media only screen and (max-width: 1520px) {
  html {
    font-size: calc(0.0071428571 * 100vw + 5.7142857143px);
  }
}
@media only screen and (min-width: 1520px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  color: #FFFFFF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  margin: 0;
}

a, a:link, a:visited, a:hover {
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  transition: color 200ms ease-in-out;
}

a:hover {
  color: rgb(255, 15, 123);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.base {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding: 20px 72px 20px 72px;
}
@media only screen and (max-width: 992px) {
  .base {
    padding: 20px 58px 20px 58px;
  }
}
@media only screen and (max-width: 768px) {
  .base {
    padding: 15px 40px 15px 40px;
  }
}
@media only screen and (max-width: 576px) {
  .base {
    padding: 10px 20px 10px 20px;
  }
}

.fluid {
  width: 100%;
}

.block {
  display: block;
}

.line {
  border-color: rgb(255, 15, 123);
}

ul {
  list-style-type: none;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  font-size: 1.5rem;
  font-weight: normal;
}
@media only screen and (max-width: 992px) {
  .menu_items {
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 992px) {
  .menu_hide {
    display: none;
  }
}

.logo_size {
  font-size: 2.5rem;
  font-weight: bold;
}

.logo_color_first {
  color: rgb(248, 155, 41);
}

.logo_color_second {
  color: rgb(255, 15, 123);
}

.btn {
  padding: 10px 30px 10px 30px;
  color: #FFFFFF;
  background: linear-gradient(90deg, rgb(255, 15, 123) 0%, rgb(248, 155, 41) 100%);
  font-size: 1.4rem;
  font-weight: normal;
  border-radius: 8px;
  box-shadow: 1px 1px 10px 1px rgb(252, 27, 114);
  transition: box-shadow 0.2s;
  font-size: 1rem;
  border: none;
}

.btn:hover {
  box-shadow: 1px 1px 28px 4px rgb(252, 27, 114);
  color: #FFFFFF;
}

.menu_list {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .menu_list {
    display: none;
  }
}

.menu_list_anim {
  padding: 10px 20px;
  cursor: pointer;
}

.active .bar:nth-child(2) {
  opacity: 0;
}
.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  background-color: #fff;
  transition: 0.2s;
}

.hanburger {
  position: fixed;
  top: 75px;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #0A0511;
  z-index: 100;
  display: flex;
  transition: 0.3s;
}
@media only screen and (max-width: 992px) {
  .hanburger {
    flex-direction: column;
    align-items: center;
  }
}
.hanburger .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 50px 0;
  overflow: auto;
}

.open {
  left: 0;
}

body.noscroll {
  overflow: hidden;
}

.menu {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: normal;
  padding-left: 0;
}

.hanburger_item {
  margin-bottom: 4rem;
  font-size: 24px;
}

.article {
  width: 100%;
  background-image: url("/main_page/res/Frame.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20rem;
  padding-bottom: 25rem;
}

.main-logo {
  font-size: 4.7rem;
  font-weight: bold;
  margin: auto;
  margin-bottom: 1.5rem;
  text-align: center;
}

.main-text {
  font-size: 2.5rem;
  font-weight: normal;
  margin: auto;
  text-align: center;
  line-height: 3.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.image_deco_2, .image_deco, .image_wave {
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1520px) {
  .image_deco_2, .image_deco, .image_wave {
    background-size: contain;
    height: calc(0.2 * 100vw + -1rem);
    width: auto;
    order: -1;
    background-position-x: center;
  }
}

.about_us_section {
  margin-top: 7rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .about_us_section {
    row-gap: 10rem;
  }
}
@media only screen and (max-width: 768px) {
  .about_us_section {
    row-gap: 5rem;
  }
}

@media only screen and (min-width: 1520px) {
  .about_item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media only screen and (max-width: 1520px) {
  .about_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap-reverse;
    background-color: #1A1226;
    padding: 2rem;
    border-radius: 15px;
  }
}

.text_box {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 2rem;
  line-height: 2.2rem;
  justify-content: center;
}
@media only screen and (max-width: 1520px) {
  .text_box h3 {
    text-align: center;
  }
}

.obout_us_header {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.about_header {
  font-size: 2.5rem;
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90deg, rgb(255, 15, 123) 0%, rgb(248, 155, 41) 100%);
}

.about_text {
  font-size: 1.4rem;
  font-weight: normal;
}

.image_wave {
  background-image: url("/main_page/res/Frame1.png");
}
@media only screen and (min-width: 1520px) {
  .image_wave {
    height: auto;
    background-position-x: right;
  }
}

.image_deco {
  background-image: url("/main_page/res/img_dec_1.png");
}
@media only screen and (max-width: 1520px) {
  .image_deco {
    height: 30rem;
    border-radius: 15px 15px 0 0;
  }
}
@media only screen and (max-width: 1520px) and (max-width: 992px) {
  .image_deco {
    height: 20rem;
  }
}
@media only screen and (min-width: 1520px) {
  .image_deco {
    height: 30rem;
  }
}

.image_deco_2 {
  background-image: url("/main_page/res/deco_2.png");
}
@media only screen and (max-width: 1520px) {
  .image_deco_2 {
    height: 30rem;
    border-radius: 15px 15px 0 0;
    background-size: cover;
  }
}
@media only screen and (max-width: 1520px) and (max-width: 992px) {
  .image_deco_2 {
    height: 20rem;
  }
}
@media only screen and (min-width: 1520px) {
  .image_deco_2 {
    height: 30rem;
    background-position: right;
  }
}

.article_btn {
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
}
@media only screen and (max-width: 1520px) {
  .article_btn {
    margin: auto;
  }
}

footer {
  border-top: solid 2px rgb(255, 15, 123);
  box-sizing: border-box;
  display: grid;
}
@media only screen and (min-width: 992px) {
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "col1 col2 col3";
    -moz-column-gap: 8rem;
         column-gap: 8rem;
  }
  footer .col {
    row-gap: 1.7rem;
  }
}
@media only screen and (max-width: 992px) {
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "col1 col2" "col3 col3";
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
}
@media only screen and (max-width: 430px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 1fr;
    grid-template-areas: "col1" "col2" "col3";
  }
}

.col {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.col h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.col1 {
  grid-area: col1;
}
.col1 ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.col2 {
  grid-area: col2;
}

.col3 {
  grid-area: col3;
}
@media only screen and (max-width: 992px) {
  .col3 {
    flex-direction: row;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    align-items: center;
  }
}
.col3 h1 {
  font-size: 4.7rem;
  font-weight: bold;
}

.form-container {
  background-image: url("/main_page/res/Frame.png");
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.film {
  order: 0;
}

.room {
  order: 1;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: #0A0511;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 28px 4px rgb(252, 27, 114);
  width: calc(0.3 * 100vw + 19rem);
}
.form .container_for_sale {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media only screen and (max-width: 992px) {
  .form .container_for_sale {
    flex-direction: column;
    row-gap: 2rem;
  }
}
.form .container_for_sale .info-card {
  margin: 0;
  align-items: start;
  flex-grow: 1;
}
.form .form-element {
  border-radius: 0.5rem;
  height: 2rem;
  border: none;
  background-color: #261c34;
  color: #FFFFFF;
  padding: 0.4rem;
}
.form .select {
  display: inline-block;
  width: auto;
  height: 2.3rem;
  min-height: 24px;
  background-position-x: 9%;
}
.form .form-element:focus-visible {
  outline: solid 2px rgb(255, 15, 123);
}
.form .btn {
  border: none;
}
.form .option {
  height: 2.3rem;
  background-color: #261c34;
}
.form h3 {
  text-align: center;
}

.adress-container {
  list-style-type: none;
}
.adress-container .adress-card {
  margin-top: 2rem;
  box-sizing: content-box;
  width: auto;
  background-color: #1A1226;
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  justify-content: left;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media only screen and (max-width: 992px) {
  .adress-container .adress-card {
    flex-direction: column;
  }
}
.adress-container img {
  height: auto;
  width: auto;
}
.adress-container .adress-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  .adress-container .adress-info {
    margin-top: 2rem;
  }
}
.adress-container .adress-info ul {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.adress-container .adress-info ul li {
  margin-top: 1rem;
}

#qantity::before {
  content: "Количество мест:  ";
  color: rgb(255, 15, 123);
}

#adressOfLocation::before {
  content: "Адрес:  ";
  color: rgb(255, 15, 123);
}

.info_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.info-card {
  background-color: #1A1226;
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.info-card img {
  max-height: 26rem;
  max-width: 17rem;
}
@media only screen and (max-width: 430px) {
  .info-card {
    flex-direction: column;
  }
  .info-card img {
    display: none;
  }
}
.info-card .ifo-film-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-card .ifo-film-text h1 {
  color: rgb(255, 15, 123);
}
.info-card .ifo-film-text li {
  margin-top: 1rem;
}
.info-card .ifo-film-text #name::before {
  content: "Название:  ";
  color: rgb(255, 15, 123);
}
.info-card .ifo-film-text #date::before {
  content: "Дата:  ";
  color: rgb(255, 15, 123);
}
.info-card .ifo-film-text #time::before {
  content: "Продолжительность:  ";
  color: rgb(255, 15, 123);
}
.info-card .ifo-film-text #country::before {
  content: "Страна производства:  ";
  color: rgb(255, 15, 123);
}
.info-card .ifo-film-text #director::before {
  content: "Режисёр:  ";
  color: rgb(255, 15, 123);
}
.info-card .ifo-film-text #description::before {
  content: "Описание:  ";
  color: rgb(255, 15, 123);
}

.grid_card {
  background-color: #1A1226;
  padding: 2rem;
  border-radius: 15px;
  padding: 1rem;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  transition: transform 200ms ease-in-out;
}
.grid_card img {
  max-width: 15rem;
  height: auto;
  max-height: 20rem;
  border-radius: 0.5rem;
}
.grid_card img, .grid_card h3 {
  margin-bottom: 0.7rem;
}
.grid_card h3 {
  word-break: break-all;
}

.grid_card:hover {
  transform: scale(1.1);
}

.catalog_btn {
  background-color: transparent;
  color: #FFFFFF;
  border: solid 1px rgb(255, 15, 123);
  font-size: 1.1rem;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem 0.4rem 1rem;
  transition: 100ms ease-in-out;
  min-width: 10rem;
}

.catalog_btn:hover {
  color: rgb(255, 15, 123);
}

.catalog_grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 18.5rem);
  justify-content: space-evenly;
}

.sort_container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.sort_container .catalog_btn {
  margin: 1rem;
  margin-right: 2rem;
}
.sort_container .dropdown {
  display: none;
}
@media only screen and (max-width: 768px) {
  .sort_container {
    display: block;
  }
  .sort_container .hide {
    display: none;
  }
  .sort_container .dropdown {
    display: inline-block;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 3rem;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.info-card {
  margin: auto;
  position: relative;
  max-width: 60rem;
  max-height: 30rem;
  cursor: default;
}

.close {
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
}
.close svg {
  fill: #FFFFFF;
  transition: fill 200ms ease-in;
}

.close:hover svg {
  fill: rgb(255, 15, 123);
}

.model_open {
  visibility: visible;
  opacity: 1;
}

.dropdown {
  position: relative;
  margin-bottom: 0.7rem;
}

.dropbtn {
  width: 12rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropbtn svg {
  fill: #FFFFFF;
  transition: transform 200ms ease-out;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  width: 12rem;
  z-index: 1;
  background-color: #1A1226;
  border-radius: 0.5rem;
  transition: visibility 120ms ease-in;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.dropdown-content .dropdown_btn {
  background-color: #1A1226;
  border: none;
  color: #FFFFFF;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  transition: color 90ms ease-in;
  font-size: 1.2REM;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
}

.dropdown:hover svg {
  transform: rotateZ(90deg);
  fill: rgb(255, 15, 123);
}

.dropdown_btn:hover {
  color: rgb(255, 15, 123);
}

.search_container {
  text-align: center;
}
.search_container .search {
  width: 70%;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  background-color: #261c34;
  border: solid 1px rgb(255, 15, 123);
  color: #FFFFFF;
}
.search_container .search:focus-visible {
  outline: solid 2px rgb(255, 15, 123);
}
@media only screen and (max-width: 768px) {
  .search_container {
    text-align: left;
    padding-left: 1rem;
  }
}

.nonActiveBtn {
  border: solid 1px rgba(255, 15, 123, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.nonActiveBtn:hover {
  color: rgba(255, 255, 255, 0.5);
}

.remActiveBtn {
  border: solid 1px rgb(58, 224, 56);
}

.remActiveBtn:hover {
  color: rgb(58, 224, 56);
}

.navbar_items {
  margin-left: 2rem;
}

.about_items_style {
  display: flex;
  flex-direction: column;
  background-color: #1A1226;
  padding: 2rem;
  border-radius: 15px;
  margin-bottom: 2rem;
}
.about_items_style .about_header {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(255, 15, 123);
  -webkit-background-clip: text;
          background-clip: text;
  background-image: none;
  text-align: center;
  margin-bottom: 1rem;
}
.about_items_style .image_wave {
  height: calc(0.24 * 100vw + -2.2rem);
}
.about_items_style .image_deco_2, .about_items_style .image_wave {
  order: -1;
}
.about_items_style .image_deco_2 {
  height: 30rem;
  border-radius: 15px 15px 0 0;
  background-size: cover;
}
.about_items_style .btn {
  margin-top: 1rem;
}

.foot_style {
  display: none;
}

.adress_Text {
  margin-left: 1rem;
}

.grid_card_ie {
  margin-left: auto;
}/*# sourceMappingURL=style.css.map */